.btn {
  line-height: 1.1;
  letter-spacing: 0rem;
  border: 0.1rem solid $COLOR_PRIMARY;
  outline: none !important;
  border-radius: 0.4rem;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 2.0rem;
  font-weight: normal;
  display: inline-block;
  color: $COLOR_SECONDARY;
  background: transparent;
  position: relative;
  font-size: 1.5rem;
  font-family: $FONT_CONTENT;
  transition: 0.3s;
  @media only screen and (min-width: 1200px) {
    padding: 1rem 2.0rem;
  }
  &:hover {
    background: $COLOR_PRIMARY;
    text-decoration: none;
    color: $COLOR_PRIMARY_TEXT;
  }
  &.selected {
    background: $COLOR_PRIMARY;
    color: $COLOR_PRIMARY_TEXT;
  }
}

.btn-primary {
  border: 0.1rem solid $COLOR_PRIMARY;
  background: $COLOR_PRIMARY;
  color: $COLOR_PRIMARY_TEXT;
  top:0;
  &:hover {
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    top:-0.3rem;
  }
}

.btn-secondary {
  border: 0.1rem solid $COLOR_SECONDARY;
  background: $COLOR_SECONDARY;
  color: $COLOR_SECONDARY_TEXT;
  top:0;
  &:hover {
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    top:-0.3rem;
  }
}


.btn-icon {
  position: relative;
  padding: 1rem 2.0rem 1rem 5.0rem;
  @media only screen and (min-width: 1200px) {
    padding: 1rem 2.0rem 1rem 5.0rem;
  }
  img {
    position: absolute;
    top:50%;
    left:1rem;
    transform: translateY(-50%);
    filter: brightness(0) invert(1);
  }
}

.btn-bigger {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  font-weight: 500;
  @media only screen and (min-width: 1200px) {
    padding: 1.3rem 2.5rem;
  }
  &.btn-icon {
    padding: 1.3rem 2.0rem 1.3rem 5.0rem;
    @media only screen and (min-width: 1200px) {
      padding: 1.3rem 2.0rem 1.3rem 5.0rem;
    }
  }
}


.btn-filter {
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  font-weight: 500;
  color: #515365;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
  border: 0.1rem solid #e0e6ed;
  font-size: 1.3rem;
  @media only screen and (min-width: 1200px) {
    padding: 1rem 2.0rem;
    font-size: 1.3rem;
  }
  &.btn-icon {
    border-color: #515365;
    img {
      filter: none;
    }
    &.btn-primary {
      border: 0.1rem solid #515365;
      background: transparent;
      color: #515365;
    }
  }
  
  &:hover {
    background: $COLOR_SECONDARY;
    border-color: $COLOR_SECONDARY;
    text-decoration: none;
    color: $COLOR_SECONDARY_TEXT;
    &.btn-icon {
      img {
        filter: brightness(0) invert(1);
      }
      &.btn-primary {
        border: 0.1rem solid $COLOR_PRIMARY;
        background: $COLOR_PRIMARY;
        color: $COLOR_PRIMARY_TEXT;
      }
    }
  }
  &.selected {
    border-color: $COLOR_SECONDARY;
    background: $COLOR_SECONDARY;
    color: $COLOR_SECONDARY_TEXT;
    &.btn-icon {
      img {
        filter: brightness(0) invert(1);
      }
      &.btn-primary {
        border: 0.1rem solid $COLOR_PRIMARY;
        background: $COLOR_PRIMARY;
        color: $COLOR_PRIMARY_TEXT;
      }
    }
  }
}