@import "../abstract/_variables.scss";

.fc-theme-standard {
    background: #fff !important;
    padding: 2rem;
    border-radius: 1.2rem;
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
}

.fc .fc-button-primary {
    color: $COLOR_PRIMARY_TEXT !important;
    background-color: $COLOR_PRIMARY !important;
    border-color: $COLOR_PRIMARY !important;
}

.flatpickr-months .flatpickr-month {
    background: $COLOR_PRIMARY !important;
}

.flatpickr-weekdays {
    background: $COLOR_PRIMARY !important;
}

span.flatpickr-weekday {
    background: $COLOR_PRIMARY !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    background: $COLOR_PRIMARY !important;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: $COLOR_PRIMARY !important;
    border-color: $COLOR_PRIMARY !important;
}