@import "../abstract/_variables.scss";

.section {
    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 90rem;
        width: 100%;
        @media (min-width: 1200px) {
            width: calc(100% + 2rem);
        }
    }
}

.section-card {
    width: 100%;
    padding: 1rem;
    @media (min-width: 550px) {
        width: 50%;
    }
    @media (min-width: 768px) {
        width: 33.33%;
    }
    @media (min-width: 1200px) {
        width: 25%;
    }
    .card-link {
        display: flex;
        align-items: center;    
        width: 100%;
        text-decoration: none;
        border:0.2rem solid #eee;
        color:$COLOR_DEFAULT_TEXT;
        padding: 2rem;
        transition: 0.3s;
        border-radius: 0.4rem;
        background: #fff;
        box-shadow: 0 0 1rem rgba(0,0,0,0.1);
        @media (min-width: 550px) {
            justify-content: center;
        }
        &__icon {
            img {
                min-width: 4rem;
            }
        }
        &__caption {
            margin: 0 0 0 2rem;
            white-space: nowrap;
            color: inherit;
            line-height: 1.1;
            font-size: 1.6rem;
            font-weight: 600;
        }
        &:hover {
            border-color: $COLOR_PRIMARY;
            color: $COLOR_PRIMARY;
        }
    }
}

