.form-flex {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2rem);   
  margin: 0 -1rem;
  &__col {
    width: 100%;
    @media (min-width: 768px) {
      padding: 0 1rem;
    }
    @media (min-width: 991px) {
      width: 50%;
    }
  }
  &__wide {
    width: 100%;
    @media (min-width: 768px) {
      padding: 0 1rem;
    }
  }
  .form-controls {
    padding: 0 1rem;
  }    
}

.form-group {
  margin: 0 0 2rem 0;
  padding: 7rem 1rem 2rem 1rem;
  border-radius: 0rem;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  background: white;
  border: 0;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  @media (max-width: 767px) {
    border-left: none;
    border-right: none;
  }
  @media (min-width: 768px) {
    padding: 7rem 2rem 2rem 2rem;
    border-radius: 1.2rem;
  }
  &--borderless {
    padding: 2rem;
    border: none;
    margin: 0;
  }
  &.closed {
    height: 0;
    padding: 7rem 2rem 0rem 2rem;
  }
  &__caption {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top:2.8rem;
    left:1rem;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
    color: #515365;
    @media (min-width: 768px) {
      left:2rem;
    }
    &.w-100 {
      width: calc(100% - 2rem) !important;
      @media (min-width: 768px) {
        width: calc(100% - 4rem) !important;
      }
    }
    img {
      margin: 0 0.8rem 0 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__info {
    padding: 0;
    margin: 0 0 1.5rem 0;
    font-family: $FONT_CONTENT;
    font-size: 1.5rem;
    color: inherit;
    line-height: 1.1;
  }
  &__toggle {
    position: absolute;
    top:2.8rem;
    right:2rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
    padding: 0 0 0 2rem;
    color: #515365;
    border:none;
    outline: none !important;
    border-radius: 0;
    background: transparent;
    cursor: pointer;
    .open {
      display: none;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(180deg);
        width: 1.4rem;
        height: 1.4rem;
        background: url(../images/chevron.svg) no-repeat center center;
        background-size: cover;
        z-index: 5;
      }
    }
    .close {
      display: block;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1.4rem;
        height: 1.4rem;
        background: url(../images/chevron.svg) no-repeat center center;
        background-size: cover;
        z-index: 5;
      }
    }
    &.closed {
      .open {
        display: block;
      }
      .close {
        display: none;
      } 
    }
  }
  &__filters {
    position: absolute;
    top:2rem;
    right:2rem;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .btn {
      margin: 0 0 1.5rem 0;
    }
  }
  &__flex-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-field {
      margin: 0 2rem 1.5rem 0;
    }
  }
  &__half {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 5rem);
    margin: 0 -2.5rem;
    align-items: center;
    &.align-start {
      align-items: flex-start;
    }
    .form-group__col {
      width: 100%;
      padding: 0 2.5rem;
      @media only screen and (min-width: 768px) {
        width: 50%;
      }
      .form-field {
        padding: 0;
      }
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 2rem);
    margin: 0 -1rem;
    align-items: center;
    &.align-start {
      align-items: flex-start;
    }
    .form-field {
      padding: 0 1rem;
      &--big {
        width: 65%;
        .form-field__label {
          width: 13rem;  
        }
        .form-field__input {
          width: calc(100% - 13rem);
        }
      }
      &--small {
        width: 35%;
        .form-field__label {
          width: 5rem;  
        }
        .form-field__input {
          width: calc(100% - 5rem);
        }
      }
    }
    .form-group__col {
      width: 50%;
      padding: 0 1rem;
      .form-field {
        padding: 0;
      }
    }
  }
  &__table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
    tr {
      &.underline {
        td {
          border-bottom: 0.2rem solid #ccc
        }
      }
      td {
        margin: 0;
        font-family: $FONT_CONTENT;
        font-size: 1.5rem;
        color: inherit;
        line-height: 1.1;
        padding: 0.7rem 0 0.7rem 0;
        font-weight: 600;
        &:first-child {
          padding: 0.7rem 2rem 0.7rem 0;
          font-weight: 400;
        }
        a {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          padding: 0 0 0 2.5rem;
          text-decoration: underline;
          color: #000;
          transition: 0.3s;
          &:hover {
            text-decoration: none;
            color:$COLOR_PRIMARY;
          }
          img {
            position: absolute;
            top:50%;
            left:0;
            transform: translateY(-50%);
            max-width: 1.8rem;
            max-height: 1.8rem;
          }
        }
      }
    }
  }
}

.form-group-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
  padding: 0;
  width: 100%;
  font-family: $FONT_CONTENT;
  font-size: 1.5rem;
  color: $COLOR_DEFAULT_TEXT;
  line-height: 1.1;  
  &__label {
    width:13rem;
    padding: 0 0.7rem 1rem 0;
    margin: 0;
    font-family: $FONT_CONTENT;
    font-size: 1.5rem;
    color: inherit;
    line-height: 1.1;
    @media (min-width: 550px) {
      padding: 0 0.7rem 0 0;
    }
  }
  .form-group__label {
    padding: 0 0.7rem 1rem 0;
    @media (min-width: 550px) {
      padding: 0 0.7rem 0 0;
    }
  }
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.5rem 0;
  padding: 0;
  position: relative;
  width: 100%;
  font-family: $FONT_CONTENT;
  font-size: 1.5rem;
  color: $COLOR_DEFAULT_TEXT;
  line-height: 1.1;  
  &__label, &__label-placeholder {
    width:10rem;
    padding: 0 0.7rem 0 0;
    margin: 1.1rem 0 0 0;
    font-family: $FONT_CONTENT;
    font-size: 1.4rem;
    color: inherit;
    line-height: 1.1;
    font-weight: 600;    
    @media (min-width: 550px) {
      width:13rem;
      font-size: 1.5rem;
    }
    &--m-top {
      margin: 1.8rem 0 0 0;
    }
    &--m-bottom {
      display: block;
      margin: 0 0 1.0rem 0;
    }
    &--bigger {
      font-size: 1.8rem;
    }
  }
  &__input, &__select, &__text {
    border:0.1rem solid #bbb;
    border-radius: 0.4rem;
    margin: 0;
    padding: 1rem 1rem;
    width: calc(100% - 10rem);
    outline: none !important;
    font-family: $FONT_CONTENT;
    font-size: 1.5rem;
    color: #000;
    line-height: 1.1;
    @media (min-width: 550px) {
      width: calc(100% - 13rem);
    }
    &:read-only {
      &:not(.flatpickr) {
        background-color: #f5f5f5 !important;
        cursor: default !important;
        pointer-events: none;
      }
    }
    &:focus {
        box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431372549);
        border-color: #296f98;
    }
    &:hover {
      cursor: pointer;
    }
    &.error {
      border-color: red;
    }
  }
  &__text {
    resize: none;
    min-height: 10rem;
  }
  &__separator {
    min-width: 1.5rem;
  }
  &__link-icon {
    padding: 0.8rem 0 0 0;
    margin: 0;
    a {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 0.5rem 0 0.5rem 2.5rem;
      text-decoration: underline;
      font-family: $FONT_CONTENT;
      font-size: 1.5rem;
      color: #000;
      line-height: 1.1;
      transition: 0.3s;
      &:hover {
        text-decoration: none;
        color:$COLOR_PRIMARY;
      }
      img {
        position: absolute;
        top:50%;
        left:0;
        transform: translateY(-50%);
        max-width: 1.4rem;
        max-height: 1.4rem;
      }
    }
  }
  
  .select2-container {
    width: calc(100% - 10rem) !important;
    @media (min-width: 550px) {
      width: calc(100% - 13rem) !important;
    }
    &--default {
      .select2-selection--multiple {
          background-color: white;
          border: 1px solid #bbb;
          border-radius: 0.4rem;
          cursor: text;
          padding-bottom: 0;
          padding-right: 0;
      }
      .select2-search {
        &--inline {
          .select2-search__field {      
            margin: 0;
            padding: 0.9rem 1rem;
            width: 100%;
            font-family: $FONT_CONTENT;
            font-size: 1.5rem;
            color: #000;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .select2-container--default.select2-container--focus {
    .select2-selection--multiple {
      border: 0.1rem solid #296f98;
      box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431372549);
      outline: 0;
    }
  }

  &__input {
    &#autOdeslaniObjednavekMaterialu {
      max-width: 6rem;
      padding: 1rem 0 1rem 1rem;
      text-align: center;
    }
  }
  &.flex-between {
    justify-content: space-between;
  }
  &__right {
    display: flex;
    flex-direction: row;
  }
  &__remove {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 1rem;
    outline: none !important;
    border-radius: 0;
  }
  &__button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 1.5rem;
    outline: none !important;
    border-radius: 0;
  }
  &__suffix {
    padding: 0 0 0 1rem;
    margin: 1.1rem 0 0 0;
    font-family: $FONT_CONTENT;
    font-size: 1.5rem;
    color: inherit;
    line-height: 1.1;
    font-weight: 600;
  }
  &__summary-field {
    background: #f1f1f1;
    margin: 0 -2rem -2rem -2rem;
    padding: 2.5rem 2rem 1rem 2rem;
  }
  &__price {
    @media only screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__price-info {
    padding: 0;
    margin: 0 0 1.5rem 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    color: inherit;
    line-height: 1.1;
  }
  &__price-value {
    padding: 0;
    margin: 0 0 1.5rem 0;
    font-family: "Quicksand", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: inherit;
    line-height: 1.1;
  }
  &__list {
    width: calc(100% - 10rem);
    padding: 0.8rem 0 0 0;
    display: flex;
    @media (min-width: 550px) {
      width: calc(100% - 13rem);
      flex-wrap: wrap;
      .form-field__input.flatpickr {
        margin: 1rem 0;
      }
      .form-field.date-field {
        width: calc(100% - 80px);
      }
    }
    @media (min-width: 1500px) {
      flex-wrap: unset;
      .form-field__input.flatpickr {
        margin: 0;
        width: 100%;
      }
    }
    &.horizontal-list {
      flex-direction: row;
    }
    &.vertical-list {
      flex-direction: column;
      .form-field__list-item {
        margin: 0 0 1rem 0;
      }
    }
    &.full-width {
      width: 100%;
      .form-field__list-item {
        padding: 0;
        label {
          @media (min-width: 550px) {
            min-width: 15rem;
          }
        }
      }
    }
  }
  &__two-dates {
    width: 100%;
    display: flex;
    margin: 1rem 0 0 1rem;
    @media (min-width: 550px) {
      width: auto;
      margin: 0;
      flex-grow: 1;
      justify-content: flex-end;  
    }
  }
  &__list-item {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 0;
    @media (max-width: 549px) {
      flex-wrap: wrap;
    }
    input {
      margin:0 0.7rem 0 0;
    }
    label {
      font-weight: 600;
      position: relative;
      padding: 0 2rem 0 0;
      &:hover {
        cursor: pointer;
      }
      a {
        position: absolute;
        top:60%;
        transform: translateY(-50%);
        right: 0;
        img {
          display: inline-block;
        }
      }
    }
    .form-field.date-field {
      margin:0 0 0 1.2rem;
      width: auto;
      position: relative;
      input {
        margin: 0;
        width: 100%;
        max-width: 14rem;
      }
    }
  }
  &__list-control {
    padding: 0.5rem 0 0 0;
    margin: 0 0 1.5rem 0;
    a {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 0.5rem 0 0.5rem 2.5rem;
      text-decoration: underline;
      font-family: $FONT_CONTENT;
      font-size: 1.5rem;
      color: #000;
      line-height: 1.1;
      transition: 0.3s;
      &:hover {
        text-decoration: none;
        color:$COLOR_PRIMARY;
      }
      img {
        position: absolute;
        top:50%;
        left:0;
        transform: translateY(-50%);
        max-width: 1.4rem;
        max-height: 1.4rem;
      }
    }
  }
  &--without-label {
    .form-field__input,
    .form-field__select,
    .form-field__text {
      width: 100%;
    }
  }
  &__third {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @media (min-width: 550px) {
      width: 50%;
    }
    @media (min-width: 1500px) {
      width: 33.33%;
    }
    .form-field__label {
      width: 3rem;
      text-align: center;
      margin: 1.4rem 0 0 0;
      padding: 0;
    }
    .form-field  {
      width: calc(100% - 3rem);
    }
  }
  &--two-inputs {
    .form-field__input {
      width: calc(50% - 7.5rem);
      &:nth-child(2) {
        margin: 0 2rem 0 0;
      }
    }
    .form-field.date-field {
      width: calc(50% - 7.5rem);
      .form-field__input {
        &:nth-child(2) {
          margin: 0;
        }
      }
    }
    .form-field__list-control {
      padding: 0.5rem 0 0 0;
      @media (min-width: 550px) {
        padding: 0.5rem 0 0 13rem;
      }
    }
  }
  &.with-suffix {
    .form-field__input,
    .form-field__select {
      width: calc(100% - 10rem - 3rem);
      @media (min-width: 550px) {
        width: calc(100% - 13rem - 3rem);
      }
    }
    .form-field__suffix {
      width: 3rem;
    }
  }
  &.date-field {
    position: relative;
    @media (min-width: 768px) {
      &:after {
        content: '';
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        top:50%;
        right: 1rem;
        transform: translateY(-50%);
        background: url(../images/calendar.svg) no-repeat center center;
        background-size: cover;
      }
    }
  }
  &.time-field {
    position: relative;
    @media (min-width: 768px) {
      &:after {
        content: '';
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        top:50%;
        right: 1rem;
        transform: translateY(-50%);
        background: url(../images/clock.svg) no-repeat center center;
        background-size: cover;
      }
    }
  }
  &.flexy {
    flex-wrap: unset;
    .form-field__label {
      width: auto;
    }
    .form-field__input {
      width: auto;
    }
    .form-field__suffix {
      width: auto;
    }
  }
}

.form-field-summary-table  {
  margin: 0 0 1.5rem 0;
  tbody {
    tr {
      td {
        padding: 1rem 1.5rem 1rem 0;
        font-family: $FONT_CONTENT;
        font-size: 1.5rem;
        color: #000;
        line-height: 1.1;
      }
    }
  }
  &--note {
    tbody {
      tr {
        td {
          vertical-align: top;
          line-height: 1.5;
        }
      }
    }
  }
}

.form-field-tabs {
  display: flex;
  width: 100%;
  margin:0 0 1.5rem 0;
  &__item {
    flex:1;
    position: relative;
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    label {
      display: block;
      width: 100%;
      text-decoration: none;
      font-size: 0rem;
      line-height: 1.5;
      color:$COLOR_DEFAULT_TEXT;
      padding: 1rem 1.5rem;
      transition: 0.3s;
      cursor: pointer;
      text-align: center;
      @media only screen and (min-width: 768px) {
        font-size: 1.5rem;
        text-align: left;
      }
      @media only screen and (min-width: 991px) {
        font-size: 0rem;
        text-align: center;
      }
      @media only screen and (min-width: 1400px) {
        font-size: 1.5rem;
        text-align: left;
      }
    }
    img, svg {
      display: inline-block;
      vertical-align: middle;
      vertical-align: sub;
      margin: 0 0.5rem 0 0;
      max-width: 2rem;
      max-height: 2rem;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;            
        height: 0.2rem;
        background: #eee;
        opacity: 1;
        transition: 0.3s;
    }
    &.active {
      label {
        color:$COLOR_PRIMARY;
      }
      &:before {
        background: $COLOR_PRIMARY;
      }
    }

    &:hover {
      label {
        color:$COLOR_PRIMARY;
      }
    }
  }
}

.form-controls {
  width: 100%;
}

.select2-results__option {
  padding: 0.6rem;
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 550px) {
  
  .mobile-unflex {
    display: block;
    .form-field__label {
      display: block;
      width: 100% !important;
      margin: 0 0 1rem 0;
    }
    .form-field__select {
      margin: 0 0 1rem 0;
    }
    .horizontal-list {
      &.flex-wrap {
        width: 100%;
        flex-wrap: wrap;
        .form-field {
          width: 100%;
          &.date-field {
            width: calc(100% - 8rem);
            margin: 1rem 0 !important;
          }
        }
      }
    }
    &.form-field--two-inputs {
      .form-field__input {
        width: 100%;        
        margin: 0 0 1rem 0;
      }
      .form-field.date-field {
        width: 100%;        
      }
    }
  }

}