
.fc {
    .fc-header-toolbar {
        .fc-toolbar-chunk {
            .fc-toolbar-title {
                display: inline-block;
                vertical-align: middle;
                text-transform: capitalize;
            }
        }
    }
    .fc-col-header-cell-cushion  {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1rem !important;
    }
    .fc-event-title-frame {
        font-size: 1.3rem;
    }
}