@import "../abstract/variables";

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

.login-box {
    width: 100%;
    max-width: 35rem;
    &__logo {
        text-align: center;
        padding: 0 0 4rem 0;
        img {
            max-height: 5rem;
            max-width: 100%;
        }
    }
    &__form {
        background: #fff;
        border-radius: 0.5rem;
        padding: 2.5rem;
        border:0.1rem solid #eee;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.06);

        .form-info {
            padding: 2rem 0 0 0;
        }

        .forgot-pass-link {
            font-size: 1.3rem;
            color:#000;
            font-weight: 500;
            line-height: 1.2;
            transition: 0.3s;
            &:hover {
                color:$COLOR_PRIMARY;
            }
        }
    }
}