@import "../abstract/_variables.scss";

.modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    &__overlay {
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        z-index: 99998;
        background: rgba(0,0,0,0.8);
    }
    &--medium {
        .modal-window {max-width: 70rem;}
    }
    &--big {
        .modal-window {max-width: 100rem;}
    }
}

.modal-window {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
    max-height: 95vh;
    max-width: 50rem;
    width: 100%;
    background: #fff;
    overflow-y: auto;
    &__close {
        position: absolute;
        top:2rem;
        right: 2rem;
        width: 1.6rem;
        height: 1.6rem;
        border: none;
        background: url(../images/close.svg) no-repeat center center;
        background-size: cover;
        font-size: 0;
        cursor: pointer;
    }
    &__filters {
        font-size: 0;
        margin: 0 0 1rem 0;
        .btn-filter {
            margin: 0 0.7rem 0.5rem 0;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 1.8rem;
        margin: 0 0 2rem 0;
        padding: 0;
        color: $COLOR_DEFAULT_TEXT;
        &.form-field__input {
            padding: 1rem 1.5rem;
            width: 100%;
            margin: 1.5rem 0 2rem 0;
        }
    }
    &__content {
        padding: 3rem 2.5rem;
        overflow: hidden;
        .form-field__text {
            min-height: 30rem;
        }
        &>*:last-child {
            margin: 0;
        }
    }
}