@import "../abstract/_variables.scss";

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        &.open {
            &>a {
                background: $COLOR_SECONDARY;
                color: $COLOR_SECONDARY_TEXT;
                &.has-icon {
                    &:before {
                        filter: brightness(0) invert(1);
                    }
                }
            }
            .subnavigation {
                max-height: 30rem;
                visibility: visible;
                opacity: 1;
                padding: 1rem 0 1rem 3rem;
            }
        }
        &.selected {
            &>a {
                background: $COLOR_SECONDARY;
                color: $COLOR_SECONDARY_TEXT;
                &.has-icon {
                    &:before {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
        &.has-child {
            a {
                &>:after {
                    content: '';
                    position: absolute;
                    height: 1.0rem;
                    width: 1.0rem;
                    top: 50%;
                    transform: translateY(-50%) rotate(180deg);
                    right: 1.5rem;
                    background: url(../images/chevron.svg) no-repeat center center;
                    background-size: cover;
                    filter: none;
                    opacity: 0.6;
                } 
            }
            &.open {
                a {
                    &>:after {
                        content: '';
                        position: absolute;
                        height: 1.0rem;
                        width: 1.0rem;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 1.5rem;
                        background: url(../images/chevron.svg) no-repeat center center;
                        background-size: cover;
                        filter: brightness(0) invert(1);
                        opacity: 1;
                    } 
                }
            }
        }
        &.external-link {
            a {
                span {
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        height: 2.4rem;
                        width: 2.4rem;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -2rem;
                        background: url(../images/external.svg) no-repeat center center;
                    } 
                }
            }
        }
        a {
            display: block;
            position: relative;
            cursor: pointer;
            font-size: 1.5rem;
            color: $COLOR_DEFAULT_TEXT;
            padding: 1.5rem 1rem;
            font-weight: 600;
            transition: 0.6s;
            border-radius: 0.6rem;
            text-decoration: none;
            white-space: nowrap;
            span {
                transition: 0.3s;
            }
            &.has-icon {
                padding: 1.5rem 1rem 1.5rem 5.0rem;
                &:before {
                    content: '';
                    position: absolute;
                    height: 2.4rem;
                    width: 2.4rem;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 1rem;
                }
                &:hover {
                    padding: 1.5rem 1rem 1.5rem 6.0rem;
                }
            }
            &.i-eye {
                &:before {
                    background: url(../images/prehled-projektu.svg) no-repeat center center;
                }
            }
            &.i-calendar {
                &:before {
                    background: url(../images/kalendar.svg) no-repeat center center;
                }
            }
            &.i-server {
                &:before {
                    background: url(../images/ukoly.svg) no-repeat center center;
                }
            }
            &.i-chart {
                &:before {
                    background: url(../images/ekonomicky-prehled.svg) no-repeat center center;
                }
            }
            &.i-cogs {
                &:before {
                    background: url(../images/spravce.svg) no-repeat center center;
                }
            }
            &.i-database {
                &:before {
                    background: url(../images/dokumenty.svg) no-repeat center center;
                }
            }
        }        
    }
}

.subnavigation {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.4s;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    li {
        a {
            padding: 1.2rem 1.0rem 1.2rem 1.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            white-space: nowrap;
            &:before {
                content: '';
                background-color: #000;
                position: absolute;
                height: 0.4rem;
                width: 0.4rem;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                border-radius: 100%;
            }
            &:hover {
                color: $COLOR_SECONDARY;
                &:before {
                    background-color: $COLOR_SECONDARY;
                }
            }
            &.selected {
                color: $COLOR_SECONDARY;
                font-weight: 700;
                &:before {
                    background-color: $COLOR_SECONDARY;
                }
            }
        }        
    }
}

@media (min-width: 1200px) {
    .sidebar.toggled {
        .navigation {
            li {
                a {
                    span {opacity: 0;}
                    &.has-icon {
                        padding: 1.3rem 1rem;
                        &:before {
                            left:0.7rem
                        }
                    }
                }
                &.open {
                    .subnavigation {
                        max-height: 0;
                        visibility: hidden;
                        opacity: 0;
                        padding: 0;
                    }
                }
            }
        }
        .subnavigation {
            max-height: 0;
            padding: 0;
        }
        .x:hover {
            .navigation {
                li {
                    a {
                        span {opacity: 1;}
                        &.has-icon {
                            padding: 1.5rem 1rem 1.5rem 5.0rem;
                            &:before {
                                left:1rem
                            }
                            &:hover {
                                padding: 1.5rem 1rem 1.5rem 6.0rem;
                            }
                        }
                    }
                    &.open {
                        .subnavigation {
                            max-height: 30rem;
                            visibility: visible;
                            opacity: 1;
                            padding: 1rem 0 1rem 3rem;
                        }
                    }
                }
            }
        }
    }
}