@import "../abstract/_variables.scss";

.header__controls {
    li.header__search-btn {
        display: inline-block;
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.close-search {
    display: inline-block;
    vertical-align: middle;
    width: 2.4rem;
    margin: 0 1rem 0 0;
    background: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
    img {
        filter: brightness(0) invert(1);
        max-width: 2rem;
    }
    @media (min-width: 768px) {
        display: none;
    }
}

.search-form {
    position: relative;
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
    &.show {
        @media (max-width: 767px) {
            display: flex;
            align-items: center;
            position: absolute;
            justify-content: space-between;
            top:0; 
            left:0;
            width: 100%;
            background: $BACKGROUND_HEADER;
            z-index: 999;
            padding: 1.5rem 1rem;
            .search-form__input {
                width: calc(100% - 4.4rem);
            }
        }   
    }
    &:before {
        content: '';
        position: absolute;
        height: 2.4rem;
        width: 2.4rem;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
        background: url(../images/search.svg) no-repeat center center;
        background-size: cover;
        filter: brightness(0) invert(1);
        pointer-events: none;
    }
    &__input {
        border: 0.1rem solid transparent;
        max-width: 100%;
        width: 20rem;
        height: 5rem;
        background: rgba(0, 0, 0, 0.2);
        font-size: 1.3rem;
        border-radius: 0.8rem;
        color: #ffffffc4;
        padding: 0 1rem 0 5rem;
        font-weight: 600;
        @media (min-width: 1200px) {
            width: 42rem;
        }
        &::-webkit-input-placeholder {
            color: #ffffff85;
        }
        &:-ms-input-placeholder {
            color: #ffffff85;
        }
        &::placeholder {
            color: #ffffff85;
        }
        &:focus {
            outline: none !important;
            box-shadow: 0 0.1px 0.4px rgba(0, 0, 0, 0), 0 0.1px 1.1px rgba(0, 0, 0, 0), 0 0.3px 2px rgba(0, 0, 0, 0), 0 0.4px 3.6px rgba(0, 0, 0, 0), 0 0.8px 6.7px rgba(0, 0, 0, 0.023), 0 2px 16px rgba(0, 0, 0, 0.14);
        }
    }
}
