.section {
    &__left, &__right {
        margin: 1rem 0;
        &--filters {
            @media (min-width: 550px) {
                display: flex;
                align-items: center;
                .form-field {
                    margin: 0 1.5rem 0.5rem 0;
                }
            }
        }
        .section__select {
            min-width: 24rem;
        }
    }
    &__progress {
        background: #d6d6d6;  
        width: 100%;      
        min-width: 20rem;
        border-radius: 0.4rem;
        overflow: hidden;
    }
    &__progress-bar {
        background: $COLOR_SECONDARY;        
        font-size: 1.2rem;
        line-height: 1.6;
        color:#fff;
        text-align: center;
    }
    &__header {
        margin: 0 0 1rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__controls {
        margin: 0 0 0.5rem 0;
        .btn {
            margin: 0 1rem 1rem 0;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 2.2rem;
        margin: 0;
        color: #515365;
    }
    &__filters {
        font-size: 0;
        .btn-filter {
            margin: 0 0 0.5rem 0.5rem;
        }
    }
    &__flex {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__select {
        border:0.1rem solid #bbb;
        border-radius: 0.4rem;
        margin: 0;
        padding: 1rem 1rem;
        width: auto;
        outline: none !important;
        font-family: $FONT_CONTENT;
        font-size: 1.5rem;
        color: #000;
        line-height: 1.1;
        &:focus {
            box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431372549);
            border-color: #296f98;
        }
        &.error {
          border-color: red;
        }
      }
}

.section-box {
    &__subtitle {
        font-weight: 700;
        font-size: 1.8rem;
        margin: 0 0 2rem 0;
        padding: 0;
        color: #515365;
    }    
    &__half {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 5rem);
        margin: 0 -2.5rem;
        align-items: center;
        &.align-start {
          align-items: flex-start;
        }
        .section-box__col {
          width: 100%;
          padding: 0 2.5rem;
          @media (min-width: 768px) {
            width: 50%;
          }
          .form-field {
            padding: 0;
          }
          &--right-line {
              margin: 0 0 4rem 0;
              @media (min-width: 768px) {
                border-right: 0.1rem solid #eee;
                margin: 0;
              }
          }
        }
      }      
}