@import "../abstract/_variables.scss";

.section-table-overflow {
    overflow-x: auto;
    width: 100%;
    margin: 0 0 2rem 0;
}

.section-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    font-size: 1.5rem;
    color: #515365;
    text-align: left;
    min-width: 60rem;
    &.mw100-table {
        min-width: 1rem;
        max-width: 100%;
    }
    &__edit-btn {
        img {
            max-height: 1.6rem;
        }
    }
    thead {
        //border-top: 0.1rem solid #e0e6ed;
        //border-bottom: 0.1rem solid #e0e6ed;
        background: $COLOR_SECONDARY;
        tr {
            td, th {
                font-weight: 700;
                color:$COLOR_SECONDARY_TEXT;
                padding: 1.2rem 0.7rem;
                line-height: 1.2;
                &:first-child {
                    padding: 1.2rem 0.7rem 1.2rem 1.5rem;
                }
            }
        }
    }
    tbody {
        tr {
            border-bottom: 0.1rem solid #e0e6ed;
            &.href-row {                
                td, th {
                    cursor: pointer;
                }
                &:hover {
                    background: rgba(0,0,0,0.05);
                }
            }
            td, th {
                font-weight: 400;
                padding: 1.2rem 0.7rem;
                line-height: 1.2;
                img {
                    display: inline-block;
                    vertical-align: middle;
                    max-height: 1.8rem;
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 0 0 0.7rem;
                }
                &:first-child {
                    padding: 1.2rem 0.7rem 1.2rem 1.5rem;
                }
            }
        }
    }
}

.person-avatar {
    white-space: nowrap;
    margin: 1px 7px 1px 0;
    display: inline-block;
    img {
        border-radius: 100%;
        max-width: 2.4rem;
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px 0 0;
    }
}

.status-item {
    position: relative;    
    &::before {
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background: transparent;
        width: calc(100% + 0.2rem);
        height: 3rem;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background: transparent;
        width: calc(100% + 0.2rem);
        height: 3rem;
        z-index: 1;
        border-top:0.2rem solid $BACKGROUND_PROGRESS_TABLE;
        border-bottom:0.2rem solid $BACKGROUND_PROGRESS_TABLE;
    }
    span {
        position: relative;
        z-index: 2;
        display: block !important;
        text-align: center;
    }
    &--start {
        &::after {
            border-left:0.2rem solid $BACKGROUND_PROGRESS_TABLE;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }
    }
    &--end {
        &::after {
            border-right:0.2rem solid $BACKGROUND_PROGRESS_TABLE;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
    }
    &--filled {
        &::before {
            background: $BACKGROUND_PROGRESS_TABLE;
        }
        img {
            filter: brightness(0) invert(1);
            position: relative;
            top: -1px;
        }
    }
    &--left {
        &::before {
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }
    }
    &--right {
        &::before {
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
    }
}