@import "../abstract/_variables.scss";

.section-tabs {
    list-style: none;
    margin: 0;
    padding: 0 0 1.5rem 0;
    font-size: 0;
    &__item {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: bottom;        
    }

    .tab-link {
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1.5;
        color:$COLOR_DEFAULT_TEXT;
        padding: 1rem 1.5rem;
        transition: 0.3s;
        img, svg {
            display: inline-block;
            vertical-align: middle;
            vertical-align: sub;
            margin: 0 0.5rem 0 0;
            max-width: 2rem;
            max-height: 2rem;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left:0;
            width: 100%;            
            height: 0.2rem;
            background: $COLOR_SECONDARY;
            opacity: 0;
            transition: 0.3s;
        }

        &.active {
            color:$COLOR_SECONDARY;
            &:before {
                opacity: 1;
            }
        }

        &:hover {
            color:$COLOR_SECONDARY;
        }
    }

    &.project-tabs {
        margin: 0 0 -1rem 0;
    }
}

.tab-box {
    .section-table-overflow {
        border-radius: 1.2rem;
        box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
        background: white;
        border: 0;
        padding: 0;
    }
}
