@import "../abstract/_variables.scss";

.user-info {
    text-align: center;
    padding: 3.5rem 0;
    transition: 0.3s;
    img {
        display: inline-block;
        vertical-align: middle;
        border-radius: 100%;
        margin: 0 0 0.8rem 0;
        max-width: 100%;
        transition: 0.3s;
        max-width: 8rem;
    }
    &__name {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.2;
        color: #000;
        margin: 0;
        transition: 0.3s;
    }
    &__role {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.2;
        color: #666;
        margin: 0;
        transition: 0.3s;
    }
}

@media (min-width: 1200px) {
    .sidebar.toggled {
        .user-info {
            padding: 2rem 0 1rem 0;
            img {
                width: 3.6rem;
                height: 3.6rem;
            }
            &__name, &__role {
                font-size: 0;
            }
        }
        .x:hover {
            .user-info {
                padding: 3.5rem 0;
                img {
                    width: auto;
                    height: auto;
                }
                &__name {
                    font-size: 1.6rem;
                }
                &__role {
                    font-size: 1.3rem;
                }
            }
        }
    }
}