@import "../abstract/_variables.scss";

.section-wizard {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    position: relative;
    &:before {
        content: '';
        width: calc(100% - 25%);
        height: 0.2rem;
        background: #ddd;
        position: absolute;
        top: 2.5rem;
        left: 12.5%;
        z-index: -1;
    }
    &__item {
        margin: 0;
        padding: 0;
        flex:1;
    }

    .wizard-link {
        display: block;
        text-align: center;
        text-decoration: none;
        color:$COLOR_DEFAULT_TEXT;
        &__icon {
            display: inline-block;
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            border:0.2rem solid #ddd;
            line-height: 4.5rem;
            text-align: center;
            font-size: 1.8rem;
            background: #fff;
            color:#888;
            margin: 0 0 0.5rem 0;
            transition: 0.3s;
            position: relative;
        }
        &__caption {
            display: block;
            font-size: 1.4rem;
            color:inherit;
            line-height: 1.1;
            font-weight: 500;
            transition: 0.3s;
        }
        &:hover {
            .wizard-link__icon {
                border-color: $COLOR_PRIMARY;
                color: $COLOR_PRIMARY;
            }
            .wizard-link__caption {
                color: $COLOR_PRIMARY;
            }
        }
        &.current {
            .wizard-link__icon {
                background: $COLOR_PRIMARY;
                border-color: $COLOR_PRIMARY;
                color: $COLOR_PRIMARY_TEXT;
            }
        }
        &.locked {
            pointer-events: none;
            .wizard-link__icon {
                color: #ddd;
                &:after {
                    content: '';
                    position: absolute;
                    top: -0.2rem;
                    right: -0.2rem;
                    width: 1.8rem;
                    height: 1.8rem;
                    background: url(../images/lock.svg) no-repeat center center;
                    background-size: cover;
                    z-index: 5;
                }
            }
            .wizard-link__caption {
                color: #ccc;
            }
        }
        &.checked {
            .wizard-link__icon {
                font-size: 0;
                border-color: #00b96e;
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 1.8rem;
                    height: 1.8rem;
                    background: url(../images/checked.svg) no-repeat center center;
                    background-size: cover;
                    z-index: 5;                
                    filter: invert(69%) sepia(45%) saturate(7328%) hue-rotate(121deg) brightness(93%) contrast(101%);    
                }
            }
        }
    }

    &.project-wizard {
        max-width: 80rem;
        margin: 0 auto;
    }
}