@import "../abstract/_variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #f5f4f7;
}
body {
  font-family: $FONT_CONTENT;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.page {
  overflow: hidden;
}



