@import "../abstract/_variables.scss";

.content {
    position: relative;
    z-index: 50;
    display: flex;
    flex-wrap: wrap;

    &__container {
        margin-top: $HEADER_HEIGHT;
        flex-grow: 1;
        padding: 2rem 1rem;
        transition: 0.5s;
        max-width: 100%;
        @media (min-width: 768px) {
            padding: 2rem;
        }
        @media (min-width: 1200px) {
            margin-left: $SIDEBAR_WIDTH;
        }
        &.full-width {
            @media (min-width: 1200px) {
                margin-left: $SIDEBAR_SLIM_WIDTH;
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: $HEADER_HEIGHT;
    left: -$SIDEBAR_WIDTH;
    height: 100vh;
    width: $SIDEBAR_WIDTH;
    background: #fff;
    transition: 0.5s;
    overflow-y: auto;
    max-height: calc(100vh - 8rem);
    z-index: 999;
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    &.toggled {
        left: 0 !important;
        @media (min-width: 1200px) {
            width: $SIDEBAR_SLIM_WIDTH;
            .x:hover {
                width: $SIDEBAR_WIDTH;
            }
        }
        .sidebar__menu {
            padding: 0 0.8rem 1.5rem 0.8rem;    
        }
    }
    &__menu {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }
    @media (min-width: 1200px) {
        left: 0;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 1.5rem;
}

.section {
    position: relative;
    display: block;
    //background: #fff;
    //padding: 2rem 1rem;
    margin: 0 0 2rem 0;
    // @media only screen and (min-width: 768px) {
    //     padding: 2rem;
    //     border-radius: 0.5rem;
    //     box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    // }
    &--transparent {
        padding: 0 1rem;
        box-shadow: none;
        background: transparent;
        border-radius: 0;
        @media only screen and (min-width: 991px) {
            padding: 0;
        }
    }
}