@import "../abstract/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $HEADER_HEIGHT;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background: $BACKGROUND_HEADER;

  &__logo {
    padding: 0;
    font-size: 0;
    position: relative;
    width: $SIDEBAR_WIDTH_MOBILE;
    height: 100%;
    background: $BACKGROUND_LOGO;
    transition: 0.5s;
    &.toggled {
        @media (min-width: 1200px) {
          width: $SIDEBAR_SLIM_WIDTH;
          a {
            visibility: hidden;
            opacity: 0;
          }
        }
    }
    @media (min-width: 768px) {
      width: $SIDEBAR_WIDTH;
    }
    @media only screen and (min-width: 1200px) {
      padding: 0;
    }

    a {
      display: block;
      visibility: visible;
      opacity: 1;
      transition: 0.5s;
    }
    img {
      display: block;
      max-height: 1.7rem;
      position: absolute;
      top:50%;
      left: 1.5rem;
      transform: translateY(-50%);
      @media (min-width: 768px) {
        max-height: 4.5rem;
      }
    }
    &:hover {
    }
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    display: inline-block;
    width: 4.5rem;
    height: 4rem;
    border: none;
    outline: none !important;
    background: $BACKGROUND_LOGO;
    transform: rotate(0deg) translateY(-50%);
    transition: 0.3s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 0.2rem;
      width: 2.8rem;
      background: #fff;
      opacity: 1;
      left: 0.85rem;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      pointer-events: none;
      &:nth-child(1) {
        top: 1rem;
      }
      &:nth-child(2) {
        top: 1.8rem;
      }
      &:nth-child(3) {
        top: 1.8rem;
      }
      &:nth-child(4) {
        top: 2.6rem;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          top: 1.5rem;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 1.5rem;
          width: 0%;
          left: 50%;
        }
      }
    }
  }

  &__content {
    width: calc(100% - 11rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    @media only screen and (min-width: 768px) {
      padding: 0 0 0 1.5rem;
      width: calc(100% - 26rem);
    }
    &.toggled {
      @media only screen and (min-width: 1200px) {
        width: calc(100% - 5.4rem);
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__date {
    padding: 0 2rem 0 0;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    display: none;
    @media only screen and (min-width: 550px) {
      display: block;
    }
  }

  &__controls {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 1rem 0 0;
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      ul {
        position: absolute;
        z-index: 9999;
        min-width: 10rem;
        padding: 0;
        top: 230%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 10px 30px 0 rgba(31,45,61,.1);
        background: #fff;
        border: 1px solid #e0e6ed;
        border-radius: 6px;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        transition: 0.6s;
        pointer-events: none;
        &.show {
          top: 130%;
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
        li {
          display: block;
          a {
            display: block;
            color: #3b3f5c;
            font-size: 1.3rem;
            font-weight: 700;
            padding: 9px 20px;
            white-space: nowrap;
            transition: 0.5s;
            line-height: 1.2;
            text-decoration: none;
            &:hover {
              background: rgba(0,0,0,0.05);
            }
          }
        }
      }
    }
    .icon-button {
      display: block;
      padding: 0 1rem;
      position: relative;
      img {
        filter: brightness(0) invert(1);
      }
      &__notif {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        font-size: 1.0rem;
        font-weight: 400;
        background: $BACKGROUND_LOGO;
        color:#fff;
        border-radius: 100%;
        transform: translateY(-50%);
        z-index: 10;        
      }
    }
  }
}

