.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.hidden {
  display: none !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.min-w-auto {
  min-width: auto !important;
}

.text-bold {
  font-weight: bold !important;
}

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: 0 auto !important;
}

.apexcharts-canvas {
  margin: 0 auto !important;
}

.space-nowrap {
  white-space: nowrap !important;
}

.color-green {
  color: #00b96e !important;
}