*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #f5f4f7;
}

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.page {
  overflow: hidden;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.hidden {
  display: none !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.min-w-auto {
  min-width: auto !important;
}

.text-bold {
  font-weight: bold !important;
}

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: 0 auto !important;
}

.apexcharts-canvas {
  margin: 0 auto !important;
}

.space-nowrap {
  white-space: nowrap !important;
}

.color-green {
  color: #00b96e !important;
}

.content {
  position: relative;
  z-index: 50;
  display: flex;
  flex-wrap: wrap;
}
.content__container {
  margin-top: 8rem;
  flex-grow: 1;
  padding: 2rem 1rem;
  transition: 0.5s;
  max-width: 100%;
}
@media (min-width: 768px) {
  .content__container {
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .content__container {
    margin-left: 26rem;
  }
}
@media (min-width: 1200px) {
  .content__container.full-width {
    margin-left: 5.4rem;
  }
}

.sidebar {
  position: fixed;
  top: 8rem;
  left: -26rem;
  height: 100vh;
  width: 26rem;
  background: #fff;
  transition: 0.5s;
  overflow-y: auto;
  max-height: calc(100vh - 8rem);
  z-index: 999;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
}
.sidebar.toggled {
  left: 0 !important;
}
@media (min-width: 1200px) {
  .sidebar.toggled {
    width: 5.4rem;
  }
  .sidebar.toggled .x:hover {
    width: 26rem;
  }
}
.sidebar.toggled .sidebar__menu {
  padding: 0 0.8rem 1.5rem 0.8rem;
}
.sidebar__menu {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
@media (min-width: 1200px) {
  .sidebar {
    left: 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 1.5rem;
}

.section {
  position: relative;
  display: block;
  margin: 0 0 2rem 0;
}
.section--transparent {
  padding: 0 1rem;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
}
@media only screen and (min-width: 991px) {
  .section--transparent {
    padding: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background: #DF7792;
}
.header__logo {
  padding: 0;
  font-size: 0;
  position: relative;
  width: 11rem;
  height: 100%;
  background: #393E41;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header__logo.toggled {
    width: 5.4rem;
  }
  .header__logo.toggled a {
    visibility: hidden;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .header__logo {
    width: 26rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header__logo {
    padding: 0;
  }
}
.header__logo a {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.header__logo img {
  display: block;
  max-height: 1.7rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .header__logo img {
    max-height: 4.5rem;
  }
}
.header__toggle {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  display: inline-block;
  width: 4.5rem;
  height: 4rem;
  border: none;
  outline: none !important;
  background: #393E41;
  transform: rotate(0deg) translateY(-50%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.header__toggle span {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 2.8rem;
  background: #fff;
  opacity: 1;
  left: 0.85rem;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  pointer-events: none;
}
.header__toggle span:nth-child(1) {
  top: 1rem;
}
.header__toggle span:nth-child(2) {
  top: 1.8rem;
}
.header__toggle span:nth-child(3) {
  top: 1.8rem;
}
.header__toggle span:nth-child(4) {
  top: 2.6rem;
}
.header__toggle.open span:nth-child(1) {
  top: 1.5rem;
  width: 0%;
  left: 50%;
}
.header__toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}
.header__toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.header__toggle.open span:nth-child(4) {
  top: 1.5rem;
  width: 0%;
  left: 50%;
}
.header__content {
  width: calc(100% - 11rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) {
  .header__content {
    padding: 0 0 0 1.5rem;
    width: calc(100% - 26rem);
  }
}
@media only screen and (min-width: 1200px) {
  .header__content.toggled {
    width: calc(100% - 5.4rem);
  }
}
.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__date {
  padding: 0 2rem 0 0;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  display: none;
}
@media only screen and (min-width: 550px) {
  .header__date {
    display: block;
  }
}
.header__controls {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 1rem 0 0;
}
.header__controls li {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.header__controls li ul {
  position: absolute;
  z-index: 9999;
  min-width: 10rem;
  padding: 0;
  top: 230%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
  background: #fff;
  border: 1px solid #e0e6ed;
  border-radius: 6px;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  transition: 0.6s;
  pointer-events: none;
}
.header__controls li ul.show {
  top: 130%;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.header__controls li ul li {
  display: block;
}
.header__controls li ul li a {
  display: block;
  color: #3b3f5c;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 9px 20px;
  white-space: nowrap;
  transition: 0.5s;
  line-height: 1.2;
  text-decoration: none;
}
.header__controls li ul li a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.header__controls .icon-button {
  display: block;
  padding: 0 1rem;
  position: relative;
}
.header__controls .icon-button img {
  filter: brightness(0) invert(1);
}
.header__controls .icon-button__notif {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  background: #393E41;
  color: #fff;
  border-radius: 100%;
  transform: translateY(-50%);
  z-index: 10;
}

.btn {
  line-height: 1.1;
  letter-spacing: 0rem;
  border: 0.1rem solid #FF8040;
  outline: none !important;
  border-radius: 0.4rem;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 2rem;
  font-weight: normal;
  display: inline-block;
  color: #DF7792;
  background: transparent;
  position: relative;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  transition: 0.3s;
}
@media only screen and (min-width: 1200px) {
  .btn {
    padding: 1rem 2rem;
  }
}
.btn:hover {
  background: #FF8040;
  text-decoration: none;
  color: #fff;
}
.btn.selected {
  background: #FF8040;
  color: #fff;
}

.btn-primary {
  border: 0.1rem solid #FF8040;
  background: #FF8040;
  color: #fff;
  top: 0;
}
.btn-primary:hover {
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  top: -0.3rem;
}

.btn-secondary {
  border: 0.1rem solid #DF7792;
  background: #DF7792;
  color: #fff;
  top: 0;
}
.btn-secondary:hover {
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  top: -0.3rem;
}

.btn-icon {
  position: relative;
  padding: 1rem 2rem 1rem 5rem;
}
@media only screen and (min-width: 1200px) {
  .btn-icon {
    padding: 1rem 2rem 1rem 5rem;
  }
}
.btn-icon img {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  filter: brightness(0) invert(1);
}

.btn-bigger {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .btn-bigger {
    padding: 1.3rem 2.5rem;
  }
}
.btn-bigger.btn-icon {
  padding: 1.3rem 2rem 1.3rem 5rem;
}
@media only screen and (min-width: 1200px) {
  .btn-bigger.btn-icon {
    padding: 1.3rem 2rem 1.3rem 5rem;
  }
}

.btn-filter {
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  font-weight: 500;
  color: #515365;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid #e0e6ed;
  font-size: 1.3rem;
}
@media only screen and (min-width: 1200px) {
  .btn-filter {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }
}
.btn-filter.btn-icon {
  border-color: #515365;
}
.btn-filter.btn-icon img {
  filter: none;
}
.btn-filter.btn-icon.btn-primary {
  border: 0.1rem solid #515365;
  background: transparent;
  color: #515365;
}
.btn-filter:hover {
  background: #DF7792;
  border-color: #DF7792;
  text-decoration: none;
  color: #fff;
}
.btn-filter:hover.btn-icon img {
  filter: brightness(0) invert(1);
}
.btn-filter:hover.btn-icon.btn-primary {
  border: 0.1rem solid #FF8040;
  background: #FF8040;
  color: #fff;
}
.btn-filter.selected {
  border-color: #DF7792;
  background: #DF7792;
  color: #fff;
}
.btn-filter.selected.btn-icon img {
  filter: brightness(0) invert(1);
}
.btn-filter.selected.btn-icon.btn-primary {
  border: 0.1rem solid #FF8040;
  background: #FF8040;
  color: #fff;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2rem);
  margin: 0 -1rem;
}
.form-flex__col {
  width: 100%;
}
@media (min-width: 768px) {
  .form-flex__col {
    padding: 0 1rem;
  }
}
@media (min-width: 991px) {
  .form-flex__col {
    width: 50%;
  }
}
.form-flex__wide {
  width: 100%;
}
@media (min-width: 768px) {
  .form-flex__wide {
    padding: 0 1rem;
  }
}
.form-flex .form-controls {
  padding: 0 1rem;
}

.form-group {
  margin: 0 0 2rem 0;
  padding: 7rem 1rem 2rem 1rem;
  border-radius: 0rem;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  background: white;
  border: 0;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .form-group {
    border-left: none;
    border-right: none;
  }
}
@media (min-width: 768px) {
  .form-group {
    padding: 7rem 2rem 2rem 2rem;
    border-radius: 1.2rem;
  }
}
.form-group--borderless {
  padding: 2rem;
  border: none;
  margin: 0;
}
.form-group.closed {
  height: 0;
  padding: 7rem 2rem 0rem 2rem;
}
.form-group__caption {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2.8rem;
  left: 1rem;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
  color: #515365;
}
@media (min-width: 768px) {
  .form-group__caption {
    left: 2rem;
  }
}
.form-group__caption.w-100 {
  width: calc(100% - 2rem) !important;
}
@media (min-width: 768px) {
  .form-group__caption.w-100 {
    width: calc(100% - 4rem) !important;
  }
}
.form-group__caption img {
  margin: 0 0.8rem 0 0;
  display: inline-block;
  vertical-align: middle;
}
.form-group__info {
  padding: 0;
  margin: 0 0 1.5rem 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: inherit;
  line-height: 1.1;
}
.form-group__toggle {
  position: absolute;
  top: 2.8rem;
  right: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0 0 2rem;
  color: #515365;
  border: none;
  outline: none !important;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
}
.form-group__toggle .open {
  display: none;
}
.form-group__toggle .open:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
  width: 1.4rem;
  height: 1.4rem;
  background: url(../images/chevron.svg) no-repeat center center;
  background-size: cover;
  z-index: 5;
}
.form-group__toggle .close {
  display: block;
}
.form-group__toggle .close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.4rem;
  height: 1.4rem;
  background: url(../images/chevron.svg) no-repeat center center;
  background-size: cover;
  z-index: 5;
}
.form-group__toggle.closed .open {
  display: block;
}
.form-group__toggle.closed .close {
  display: none;
}
.form-group__filters {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.form-group__flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.form-group__flex .btn {
  margin: 0 0 1.5rem 0;
}
.form-group__flex-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-group__flex-items .form-field {
  margin: 0 2rem 1.5rem 0;
}
.form-group__half {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 5rem);
  margin: 0 -2.5rem;
  align-items: center;
}
.form-group__half.align-start {
  align-items: flex-start;
}
.form-group__half .form-group__col {
  width: 100%;
  padding: 0 2.5rem;
}
@media only screen and (min-width: 768px) {
  .form-group__half .form-group__col {
    width: 50%;
  }
}
.form-group__half .form-group__col .form-field {
  padding: 0;
}
.form-group__row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2rem);
  margin: 0 -1rem;
  align-items: center;
}
.form-group__row.align-start {
  align-items: flex-start;
}
.form-group__row .form-field {
  padding: 0 1rem;
}
.form-group__row .form-field--big {
  width: 65%;
}
.form-group__row .form-field--big .form-field__label {
  width: 13rem;
}
.form-group__row .form-field--big .form-field__input {
  width: calc(100% - 13rem);
}
.form-group__row .form-field--small {
  width: 35%;
}
.form-group__row .form-field--small .form-field__label {
  width: 5rem;
}
.form-group__row .form-field--small .form-field__input {
  width: calc(100% - 5rem);
}
.form-group__row .form-group__col {
  width: 50%;
  padding: 0 1rem;
}
.form-group__row .form-group__col .form-field {
  padding: 0;
}
.form-group__table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}
.form-group__table tr.underline td {
  border-bottom: 0.2rem solid #ccc;
}
.form-group__table tr td {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: inherit;
  line-height: 1.1;
  padding: 0.7rem 0 0.7rem 0;
  font-weight: 600;
}
.form-group__table tr td:first-child {
  padding: 0.7rem 2rem 0.7rem 0;
  font-weight: 400;
}
.form-group__table tr td a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 2.5rem;
  text-decoration: underline;
  color: #000;
  transition: 0.3s;
}
.form-group__table tr td a:hover {
  text-decoration: none;
  color: #FF8040;
}
.form-group__table tr td a img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 1.8rem;
  max-height: 1.8rem;
}

.form-group-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
  padding: 0;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #555;
  line-height: 1.1;
}
.form-group-header__label {
  width: 13rem;
  padding: 0 0.7rem 1rem 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: inherit;
  line-height: 1.1;
}
@media (min-width: 550px) {
  .form-group-header__label {
    padding: 0 0.7rem 0 0;
  }
}
.form-group-header .form-group__label {
  padding: 0 0.7rem 1rem 0;
}
@media (min-width: 550px) {
  .form-group-header .form-group__label {
    padding: 0 0.7rem 0 0;
  }
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.5rem 0;
  padding: 0;
  position: relative;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #555;
  line-height: 1.1;
}
.form-field__label, .form-field__label-placeholder {
  width: 10rem;
  padding: 0 0.7rem 0 0;
  margin: 1.1rem 0 0 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  color: inherit;
  line-height: 1.1;
  font-weight: 600;
}
@media (min-width: 550px) {
  .form-field__label, .form-field__label-placeholder {
    width: 13rem;
    font-size: 1.5rem;
  }
}
.form-field__label--m-top, .form-field__label-placeholder--m-top {
  margin: 1.8rem 0 0 0;
}
.form-field__label--m-bottom, .form-field__label-placeholder--m-bottom {
  display: block;
  margin: 0 0 1rem 0;
}
.form-field__label--bigger, .form-field__label-placeholder--bigger {
  font-size: 1.8rem;
}
.form-field__input, .form-field__select, .form-field__text {
  border: 0.1rem solid #bbb;
  border-radius: 0.4rem;
  margin: 0;
  padding: 1rem 1rem;
  width: calc(100% - 10rem);
  outline: none !important;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.1;
}
@media (min-width: 550px) {
  .form-field__input, .form-field__select, .form-field__text {
    width: calc(100% - 13rem);
  }
}
.form-field__input:read-only:not(.flatpickr), .form-field__select:read-only:not(.flatpickr), .form-field__text:read-only:not(.flatpickr) {
  background-color: #f5f5f5 !important;
  cursor: default !important;
  pointer-events: none;
}
.form-field__input:focus, .form-field__select:focus, .form-field__text:focus {
  box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431);
  border-color: #296f98;
}
.form-field__input:hover, .form-field__select:hover, .form-field__text:hover {
  cursor: pointer;
}
.form-field__input.error, .form-field__select.error, .form-field__text.error {
  border-color: red;
}
.form-field__text {
  resize: none;
  min-height: 10rem;
}
.form-field__separator {
  min-width: 1.5rem;
}
.form-field__link-icon {
  padding: 0.8rem 0 0 0;
  margin: 0;
}
.form-field__link-icon a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 0 0.5rem 2.5rem;
  text-decoration: underline;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.1;
  transition: 0.3s;
}
.form-field__link-icon a:hover {
  text-decoration: none;
  color: #FF8040;
}
.form-field__link-icon a img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 1.4rem;
  max-height: 1.4rem;
}
.form-field .select2-container {
  width: calc(100% - 10rem) !important;
}
@media (min-width: 550px) {
  .form-field .select2-container {
    width: calc(100% - 13rem) !important;
  }
}
.form-field .select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 0.4rem;
  cursor: text;
  padding-bottom: 0;
  padding-right: 0;
}
.form-field .select2-container--default .select2-search--inline .select2-search__field {
  margin: 0;
  padding: 0.9rem 1rem;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #000;
}
.form-field .select2-container--default .select2-search--inline .select2-search__field:hover {
  cursor: pointer;
}
.form-field .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 0.1rem solid #296f98;
  box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431);
  outline: 0;
}
.form-field__input#autOdeslaniObjednavekMaterialu {
  max-width: 6rem;
  padding: 1rem 0 1rem 1rem;
  text-align: center;
}
.form-field.flex-between {
  justify-content: space-between;
}
.form-field__right {
  display: flex;
  flex-direction: row;
}
.form-field__remove {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0 1rem;
  outline: none !important;
  border-radius: 0;
}
.form-field__button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 1.5rem;
  outline: none !important;
  border-radius: 0;
}
.form-field__suffix {
  padding: 0 0 0 1rem;
  margin: 1.1rem 0 0 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: inherit;
  line-height: 1.1;
  font-weight: 600;
}
.form-field__summary-field {
  background: #f1f1f1;
  margin: 0 -2rem -2rem -2rem;
  padding: 2.5rem 2rem 1rem 2rem;
}
@media only screen and (min-width: 768px) {
  .form-field__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.form-field__price-info {
  padding: 0;
  margin: 0 0 1.5rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  color: inherit;
  line-height: 1.1;
}
.form-field__price-value {
  padding: 0;
  margin: 0 0 1.5rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: inherit;
  line-height: 1.1;
}
.form-field__list {
  width: calc(100% - 10rem);
  padding: 0.8rem 0 0 0;
  display: flex;
}
@media (min-width: 550px) {
  .form-field__list {
    width: calc(100% - 13rem);
    flex-wrap: wrap;
  }
  .form-field__list .form-field__input.flatpickr {
    margin: 1rem 0;
  }
  .form-field__list .form-field.date-field {
    width: calc(100% - 80px);
  }
}
@media (min-width: 1500px) {
  .form-field__list {
    flex-wrap: unset;
  }
  .form-field__list .form-field__input.flatpickr {
    margin: 0;
    width: 100%;
  }
}
.form-field__list.horizontal-list {
  flex-direction: row;
}
.form-field__list.vertical-list {
  flex-direction: column;
}
.form-field__list.vertical-list .form-field__list-item {
  margin: 0 0 1rem 0;
}
.form-field__list.full-width {
  width: 100%;
}
.form-field__list.full-width .form-field__list-item {
  padding: 0;
}
@media (min-width: 550px) {
  .form-field__list.full-width .form-field__list-item label {
    min-width: 15rem;
  }
}
.form-field__two-dates {
  width: 100%;
  display: flex;
  margin: 1rem 0 0 1rem;
}
@media (min-width: 550px) {
  .form-field__two-dates {
    width: auto;
    margin: 0;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
.form-field__list-item {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 0;
}
@media (max-width: 549px) {
  .form-field__list-item {
    flex-wrap: wrap;
  }
}
.form-field__list-item input {
  margin: 0 0.7rem 0 0;
}
.form-field__list-item label {
  font-weight: 600;
  position: relative;
  padding: 0 2rem 0 0;
}
.form-field__list-item label:hover {
  cursor: pointer;
}
.form-field__list-item label a {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 0;
}
.form-field__list-item label a img {
  display: inline-block;
}
.form-field__list-item .form-field.date-field {
  margin: 0 0 0 1.2rem;
  width: auto;
  position: relative;
}
.form-field__list-item .form-field.date-field input {
  margin: 0;
  width: 100%;
  max-width: 14rem;
}
.form-field__list-control {
  padding: 0.5rem 0 0 0;
  margin: 0 0 1.5rem 0;
}
.form-field__list-control a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 0 0.5rem 2.5rem;
  text-decoration: underline;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.1;
  transition: 0.3s;
}
.form-field__list-control a:hover {
  text-decoration: none;
  color: #FF8040;
}
.form-field__list-control a img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 1.4rem;
  max-height: 1.4rem;
}
.form-field--without-label .form-field__input,
.form-field--without-label .form-field__select,
.form-field--without-label .form-field__text {
  width: 100%;
}
.form-field__third {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (min-width: 550px) {
  .form-field__third {
    width: 50%;
  }
}
@media (min-width: 1500px) {
  .form-field__third {
    width: 33.33%;
  }
}
.form-field__third .form-field__label {
  width: 3rem;
  text-align: center;
  margin: 1.4rem 0 0 0;
  padding: 0;
}
.form-field__third .form-field {
  width: calc(100% - 3rem);
}
.form-field--two-inputs .form-field__input {
  width: calc(50% - 7.5rem);
}
.form-field--two-inputs .form-field__input:nth-child(2) {
  margin: 0 2rem 0 0;
}
.form-field--two-inputs .form-field.date-field {
  width: calc(50% - 7.5rem);
}
.form-field--two-inputs .form-field.date-field .form-field__input:nth-child(2) {
  margin: 0;
}
.form-field--two-inputs .form-field__list-control {
  padding: 0.5rem 0 0 0;
}
@media (min-width: 550px) {
  .form-field--two-inputs .form-field__list-control {
    padding: 0.5rem 0 0 13rem;
  }
}
.form-field.with-suffix .form-field__input,
.form-field.with-suffix .form-field__select {
  width: calc(100% - 10rem - 3rem);
}
@media (min-width: 550px) {
  .form-field.with-suffix .form-field__input,
.form-field.with-suffix .form-field__select {
    width: calc(100% - 13rem - 3rem);
  }
}
.form-field.with-suffix .form-field__suffix {
  width: 3rem;
}
.form-field.date-field {
  position: relative;
}
@media (min-width: 768px) {
  .form-field.date-field:after {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: url(../images/calendar.svg) no-repeat center center;
    background-size: cover;
  }
}
.form-field.time-field {
  position: relative;
}
@media (min-width: 768px) {
  .form-field.time-field:after {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: url(../images/clock.svg) no-repeat center center;
    background-size: cover;
  }
}
.form-field.flexy {
  flex-wrap: unset;
}
.form-field.flexy .form-field__label {
  width: auto;
}
.form-field.flexy .form-field__input {
  width: auto;
}
.form-field.flexy .form-field__suffix {
  width: auto;
}

.form-field-summary-table {
  margin: 0 0 1.5rem 0;
}
.form-field-summary-table tbody tr td {
  padding: 1rem 1.5rem 1rem 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.1;
}
.form-field-summary-table--note tbody tr td {
  vertical-align: top;
  line-height: 1.5;
}

.form-field-tabs {
  display: flex;
  width: 100%;
  margin: 0 0 1.5rem 0;
}
.form-field-tabs__item {
  flex: 1;
  position: relative;
}
.form-field-tabs__item input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.form-field-tabs__item label {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 0rem;
  line-height: 1.5;
  color: #555;
  padding: 1rem 1.5rem;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .form-field-tabs__item label {
    font-size: 1.5rem;
    text-align: left;
  }
}
@media only screen and (min-width: 991px) {
  .form-field-tabs__item label {
    font-size: 0rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1400px) {
  .form-field-tabs__item label {
    font-size: 1.5rem;
    text-align: left;
  }
}
.form-field-tabs__item img, .form-field-tabs__item svg {
  display: inline-block;
  vertical-align: middle;
  vertical-align: sub;
  margin: 0 0.5rem 0 0;
  max-width: 2rem;
  max-height: 2rem;
}
.form-field-tabs__item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #eee;
  opacity: 1;
  transition: 0.3s;
}
.form-field-tabs__item.active label {
  color: #FF8040;
}
.form-field-tabs__item.active:before {
  background: #FF8040;
}
.form-field-tabs__item:hover label {
  color: #FF8040;
}

.form-controls {
  width: 100%;
}

.select2-results__option {
  padding: 0.6rem;
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 550px) {
  .mobile-unflex {
    display: block;
  }
  .mobile-unflex .form-field__label {
    display: block;
    width: 100% !important;
    margin: 0 0 1rem 0;
  }
  .mobile-unflex .form-field__select {
    margin: 0 0 1rem 0;
  }
  .mobile-unflex .horizontal-list.flex-wrap {
    width: 100%;
    flex-wrap: wrap;
  }
  .mobile-unflex .horizontal-list.flex-wrap .form-field {
    width: 100%;
  }
  .mobile-unflex .horizontal-list.flex-wrap .form-field.date-field {
    width: calc(100% - 8rem);
    margin: 1rem 0 !important;
  }
  .mobile-unflex.form-field--two-inputs .form-field__input {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .mobile-unflex.form-field--two-inputs .form-field.date-field {
    width: 100%;
  }
}
.user-info {
  text-align: center;
  padding: 3.5rem 0;
  transition: 0.3s;
}
.user-info img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  margin: 0 0 0.8rem 0;
  max-width: 100%;
  transition: 0.3s;
  max-width: 8rem;
}
.user-info__name {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #000;
  margin: 0;
  transition: 0.3s;
}
.user-info__role {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #666;
  margin: 0;
  transition: 0.3s;
}

@media (min-width: 1200px) {
  .sidebar.toggled .user-info {
    padding: 2rem 0 1rem 0;
  }
  .sidebar.toggled .user-info img {
    width: 3.6rem;
    height: 3.6rem;
  }
  .sidebar.toggled .user-info__name, .sidebar.toggled .user-info__role {
    font-size: 0;
  }
  .sidebar.toggled .x:hover .user-info {
    padding: 3.5rem 0;
  }
  .sidebar.toggled .x:hover .user-info img {
    width: auto;
    height: auto;
  }
  .sidebar.toggled .x:hover .user-info__name {
    font-size: 1.6rem;
  }
  .sidebar.toggled .x:hover .user-info__role {
    font-size: 1.3rem;
  }
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  margin: 0;
  padding: 0;
}
.navigation li.open > a {
  background: #DF7792;
  color: #fff;
}
.navigation li.open > a.has-icon:before {
  filter: brightness(0) invert(1);
}
.navigation li.open .subnavigation {
  max-height: 30rem;
  visibility: visible;
  opacity: 1;
  padding: 1rem 0 1rem 3rem;
}
.navigation li.selected > a {
  background: #DF7792;
  color: #fff;
}
.navigation li.selected > a.has-icon:before {
  filter: brightness(0) invert(1);
}
.navigation li.has-child a > :after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  right: 1.5rem;
  background: url(../images/chevron.svg) no-repeat center center;
  background-size: cover;
  filter: none;
  opacity: 0.6;
}
.navigation li.has-child.open a > :after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  background: url(../images/chevron.svg) no-repeat center center;
  background-size: cover;
  filter: brightness(0) invert(1);
  opacity: 1;
}
.navigation li.external-link a span {
  position: relative;
}
.navigation li.external-link a span:after {
  content: "";
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  right: -2rem;
  background: url(../images/external.svg) no-repeat center center;
}
.navigation li a {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
  padding: 1.5rem 1rem;
  font-weight: 600;
  transition: 0.6s;
  border-radius: 0.6rem;
  text-decoration: none;
  white-space: nowrap;
}
.navigation li a span {
  transition: 0.3s;
}
.navigation li a.has-icon {
  padding: 1.5rem 1rem 1.5rem 5rem;
}
.navigation li a.has-icon:before {
  content: "";
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
.navigation li a.has-icon:hover {
  padding: 1.5rem 1rem 1.5rem 6rem;
}
.navigation li a.i-eye:before {
  background: url(../images/prehled-projektu.svg) no-repeat center center;
}
.navigation li a.i-calendar:before {
  background: url(../images/kalendar.svg) no-repeat center center;
}
.navigation li a.i-server:before {
  background: url(../images/ukoly.svg) no-repeat center center;
}
.navigation li a.i-chart:before {
  background: url(../images/ekonomicky-prehled.svg) no-repeat center center;
}
.navigation li a.i-cogs:before {
  background: url(../images/spravce.svg) no-repeat center center;
}
.navigation li a.i-database:before {
  background: url(../images/dokumenty.svg) no-repeat center center;
}

.subnavigation {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.4s;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.subnavigation li a {
  padding: 1.2rem 1rem 1.2rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
}
.subnavigation li a:before {
  content: "";
  background-color: #000;
  position: absolute;
  height: 0.4rem;
  width: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 100%;
}
.subnavigation li a:hover {
  color: #DF7792;
}
.subnavigation li a:hover:before {
  background-color: #DF7792;
}
.subnavigation li a.selected {
  color: #DF7792;
  font-weight: 700;
}
.subnavigation li a.selected:before {
  background-color: #DF7792;
}

@media (min-width: 1200px) {
  .sidebar.toggled .navigation li a span {
    opacity: 0;
  }
  .sidebar.toggled .navigation li a.has-icon {
    padding: 1.3rem 1rem;
  }
  .sidebar.toggled .navigation li a.has-icon:before {
    left: 0.7rem;
  }
  .sidebar.toggled .navigation li.open .subnavigation {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0;
  }
  .sidebar.toggled .subnavigation {
    max-height: 0;
    padding: 0;
  }
  .sidebar.toggled .x:hover .navigation li a span {
    opacity: 1;
  }
  .sidebar.toggled .x:hover .navigation li a.has-icon {
    padding: 1.5rem 1rem 1.5rem 5rem;
  }
  .sidebar.toggled .x:hover .navigation li a.has-icon:before {
    left: 1rem;
  }
  .sidebar.toggled .x:hover .navigation li a.has-icon:hover {
    padding: 1.5rem 1rem 1.5rem 6rem;
  }
  .sidebar.toggled .x:hover .navigation li.open .subnavigation {
    max-height: 30rem;
    visibility: visible;
    opacity: 1;
    padding: 1rem 0 1rem 3rem;
  }
}
.header__controls li.header__search-btn {
  display: inline-block;
}
@media (min-width: 768px) {
  .header__controls li.header__search-btn {
    display: none;
  }
}

.close-search {
  display: inline-block;
  vertical-align: middle;
  width: 2.4rem;
  margin: 0 1rem 0 0;
  background: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}
.close-search img {
  filter: brightness(0) invert(1);
  max-width: 2rem;
}
@media (min-width: 768px) {
  .close-search {
    display: none;
  }
}

.search-form {
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .search-form {
    display: block;
  }
}
@media (max-width: 767px) {
  .search-form.show {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    background: #DF7792;
    z-index: 999;
    padding: 1.5rem 1rem;
  }
  .search-form.show .search-form__input {
    width: calc(100% - 4.4rem);
  }
}
.search-form:before {
  content: "";
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
  background: url(../images/search.svg) no-repeat center center;
  background-size: cover;
  filter: brightness(0) invert(1);
  pointer-events: none;
}
.search-form__input {
  border: 0.1rem solid transparent;
  max-width: 100%;
  width: 20rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  border-radius: 0.8rem;
  color: #ffffffc4;
  padding: 0 1rem 0 5rem;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .search-form__input {
    width: 42rem;
  }
}
.search-form__input::-webkit-input-placeholder {
  color: #ffffff85;
}
.search-form__input:-ms-input-placeholder {
  color: #ffffff85;
}
.search-form__input::placeholder {
  color: #ffffff85;
}
.search-form__input:focus {
  outline: none !important;
  box-shadow: 0 0.1px 0.4px rgba(0, 0, 0, 0), 0 0.1px 1.1px rgba(0, 0, 0, 0), 0 0.3px 2px rgba(0, 0, 0, 0), 0 0.4px 3.6px rgba(0, 0, 0, 0), 0 0.8px 6.7px rgba(0, 0, 0, 0.023), 0 2px 16px rgba(0, 0, 0, 0.14);
}

.section__left, .section__right {
  margin: 1rem 0;
}
@media (min-width: 550px) {
  .section__left--filters, .section__right--filters {
    display: flex;
    align-items: center;
  }
  .section__left--filters .form-field, .section__right--filters .form-field {
    margin: 0 1.5rem 0.5rem 0;
  }
}
.section__left .section__select, .section__right .section__select {
  min-width: 24rem;
}
.section__progress {
  background: #d6d6d6;
  width: 100%;
  min-width: 20rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.section__progress-bar {
  background: #DF7792;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
  text-align: center;
}
.section__header {
  margin: 0 0 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section__controls {
  margin: 0 0 0.5rem 0;
}
.section__controls .btn {
  margin: 0 1rem 1rem 0;
}
.section__title {
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0;
  color: #515365;
}
.section__filters {
  font-size: 0;
}
.section__filters .btn-filter {
  margin: 0 0 0.5rem 0.5rem;
}
.section__flex {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section__select {
  border: 0.1rem solid #bbb;
  border-radius: 0.4rem;
  margin: 0;
  padding: 1rem 1rem;
  width: auto;
  outline: none !important;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.1;
}
.section__select:focus {
  box-shadow: 0 0 5px 2px rgba(194, 213, 255, 0.6196078431);
  border-color: #296f98;
}
.section__select.error {
  border-color: red;
}

.section-box__subtitle {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0 0 2rem 0;
  padding: 0;
  color: #515365;
}
.section-box__half {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 5rem);
  margin: 0 -2.5rem;
  align-items: center;
}
.section-box__half.align-start {
  align-items: flex-start;
}
.section-box__half .section-box__col {
  width: 100%;
  padding: 0 2.5rem;
}
@media (min-width: 768px) {
  .section-box__half .section-box__col {
    width: 50%;
  }
}
.section-box__half .section-box__col .form-field {
  padding: 0;
}
.section-box__half .section-box__col--right-line {
  margin: 0 0 4rem 0;
}
@media (min-width: 768px) {
  .section-box__half .section-box__col--right-line {
    border-right: 0.1rem solid #eee;
    margin: 0;
  }
}

.section-table-overflow {
  overflow-x: auto;
  width: 100%;
  margin: 0 0 2rem 0;
}

.section-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  font-size: 1.5rem;
  color: #515365;
  text-align: left;
  min-width: 60rem;
}
.section-table.mw100-table {
  min-width: 1rem;
  max-width: 100%;
}
.section-table__edit-btn img {
  max-height: 1.6rem;
}
.section-table thead {
  background: #DF7792;
}
.section-table thead tr td, .section-table thead tr th {
  font-weight: 700;
  color: #fff;
  padding: 1.2rem 0.7rem;
  line-height: 1.2;
}
.section-table thead tr td:first-child, .section-table thead tr th:first-child {
  padding: 1.2rem 0.7rem 1.2rem 1.5rem;
}
.section-table tbody tr {
  border-bottom: 0.1rem solid #e0e6ed;
}
.section-table tbody tr.href-row td, .section-table tbody tr.href-row th {
  cursor: pointer;
}
.section-table tbody tr.href-row:hover {
  background: rgba(0, 0, 0, 0.05);
}
.section-table tbody tr td, .section-table tbody tr th {
  font-weight: 400;
  padding: 1.2rem 0.7rem;
  line-height: 1.2;
}
.section-table tbody tr td img, .section-table tbody tr th img {
  display: inline-block;
  vertical-align: middle;
  max-height: 1.8rem;
}
.section-table tbody tr td span, .section-table tbody tr th span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 0.7rem;
}
.section-table tbody tr td:first-child, .section-table tbody tr th:first-child {
  padding: 1.2rem 0.7rem 1.2rem 1.5rem;
}

.person-avatar {
  white-space: nowrap;
  margin: 1px 7px 1px 0;
  display: inline-block;
}
.person-avatar img {
  border-radius: 100%;
  max-width: 2.4rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.status-item {
  position: relative;
}
.status-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: calc(100% + 0.2rem);
  height: 3rem;
  z-index: 1;
}
.status-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: calc(100% + 0.2rem);
  height: 3rem;
  z-index: 1;
  border-top: 0.2rem solid #ffbfa1;
  border-bottom: 0.2rem solid #ffbfa1;
}
.status-item span {
  position: relative;
  z-index: 2;
  display: block !important;
  text-align: center;
}
.status-item--start::after {
  border-left: 0.2rem solid #ffbfa1;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.status-item--end::after {
  border-right: 0.2rem solid #ffbfa1;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.status-item--filled::before {
  background: #ffbfa1;
}
.status-item--filled img {
  filter: brightness(0) invert(1);
  position: relative;
  top: -1px;
}
.status-item--left::before {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.status-item--right::before {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.section-tabs {
  list-style: none;
  margin: 0;
  padding: 0 0 1.5rem 0;
  font-size: 0;
}
.section-tabs__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
}
.section-tabs .tab-link {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #555;
  padding: 1rem 1.5rem;
  transition: 0.3s;
}
.section-tabs .tab-link img, .section-tabs .tab-link svg {
  display: inline-block;
  vertical-align: middle;
  vertical-align: sub;
  margin: 0 0.5rem 0 0;
  max-width: 2rem;
  max-height: 2rem;
}
.section-tabs .tab-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #DF7792;
  opacity: 0;
  transition: 0.3s;
}
.section-tabs .tab-link.active {
  color: #DF7792;
}
.section-tabs .tab-link.active:before {
  opacity: 1;
}
.section-tabs .tab-link:hover {
  color: #DF7792;
}
.section-tabs.project-tabs {
  margin: 0 0 -1rem 0;
}

.tab-box .section-table-overflow {
  border-radius: 1.2rem;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  background: white;
  border: 0;
  padding: 0;
}

.section-wizard {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  position: relative;
}
.section-wizard:before {
  content: "";
  width: calc(100% - 25%);
  height: 0.2rem;
  background: #ddd;
  position: absolute;
  top: 2.5rem;
  left: 12.5%;
  z-index: -1;
}
.section-wizard__item {
  margin: 0;
  padding: 0;
  flex: 1;
}
.section-wizard .wizard-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #555;
}
.section-wizard .wizard-link__icon {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 0.2rem solid #ddd;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.8rem;
  background: #fff;
  color: #888;
  margin: 0 0 0.5rem 0;
  transition: 0.3s;
  position: relative;
}
.section-wizard .wizard-link__caption {
  display: block;
  font-size: 1.4rem;
  color: inherit;
  line-height: 1.1;
  font-weight: 500;
  transition: 0.3s;
}
.section-wizard .wizard-link:hover .wizard-link__icon {
  border-color: #FF8040;
  color: #FF8040;
}
.section-wizard .wizard-link:hover .wizard-link__caption {
  color: #FF8040;
}
.section-wizard .wizard-link.current .wizard-link__icon {
  background: #FF8040;
  border-color: #FF8040;
  color: #fff;
}
.section-wizard .wizard-link.locked {
  pointer-events: none;
}
.section-wizard .wizard-link.locked .wizard-link__icon {
  color: #ddd;
}
.section-wizard .wizard-link.locked .wizard-link__icon:after {
  content: "";
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  background: url(../images/lock.svg) no-repeat center center;
  background-size: cover;
  z-index: 5;
}
.section-wizard .wizard-link.locked .wizard-link__caption {
  color: #ccc;
}
.section-wizard .wizard-link.checked .wizard-link__icon {
  font-size: 0;
  border-color: #00b96e;
}
.section-wizard .wizard-link.checked .wizard-link__icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.8rem;
  height: 1.8rem;
  background: url(../images/checked.svg) no-repeat center center;
  background-size: cover;
  z-index: 5;
  filter: invert(69%) sepia(45%) saturate(7328%) hue-rotate(121deg) brightness(93%) contrast(101%);
}
.section-wizard.project-wizard {
  max-width: 80rem;
  margin: 0 auto;
}

.fc .fc-header-toolbar .fc-toolbar-chunk .fc-toolbar-title {
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}
.fc .fc-col-header-cell-cushion {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem !important;
}
.fc .fc-event-title-frame {
  font-size: 1.3rem;
}

.section__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .section__cards {
    width: calc(100% + 2rem);
  }
}

.section-card {
  width: 100%;
  padding: 1rem;
}
@media (min-width: 550px) {
  .section-card {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .section-card {
    width: 33.33%;
  }
}
@media (min-width: 1200px) {
  .section-card {
    width: 25%;
  }
}
.section-card .card-link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  border: 0.2rem solid #eee;
  color: #555;
  padding: 2rem;
  transition: 0.3s;
  border-radius: 0.4rem;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
@media (min-width: 550px) {
  .section-card .card-link {
    justify-content: center;
  }
}
.section-card .card-link__icon img {
  min-width: 4rem;
}
.section-card .card-link__caption {
  margin: 0 0 0 2rem;
  white-space: nowrap;
  color: inherit;
  line-height: 1.1;
  font-size: 1.6rem;
  font-weight: 600;
}
.section-card .card-link:hover {
  border-color: #FF8040;
  color: #FF8040;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99998;
  background: rgba(0, 0, 0, 0.8);
}
.modal--medium .modal-window {
  max-width: 70rem;
}
.modal--big .modal-window {
  max-width: 100rem;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  max-height: 95vh;
  max-width: 50rem;
  width: 100%;
  background: #fff;
  overflow-y: auto;
}
.modal-window__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  background: url(../images/close.svg) no-repeat center center;
  background-size: cover;
  font-size: 0;
  cursor: pointer;
}
.modal-window__filters {
  font-size: 0;
  margin: 0 0 1rem 0;
}
.modal-window__filters .btn-filter {
  margin: 0 0.7rem 0.5rem 0;
}
.modal-window__title {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0 0 2rem 0;
  padding: 0;
  color: #555;
}
.modal-window__title.form-field__input {
  padding: 1rem 1.5rem;
  width: 100%;
  margin: 1.5rem 0 2rem 0;
}
.modal-window__content {
  padding: 3rem 2.5rem;
  overflow: hidden;
}
.modal-window__content .form-field__text {
  min-height: 30rem;
}
.modal-window__content > *:last-child {
  margin: 0;
}

.fc-theme-standard {
  background: #fff !important;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901960784), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
}

.fc .fc-button-primary {
  color: #fff !important;
  background-color: #FF8040 !important;
  border-color: #FF8040 !important;
}

.flatpickr-months .flatpickr-month {
  background: #FF8040 !important;
}

.flatpickr-weekdays {
  background: #FF8040 !important;
}

span.flatpickr-weekday {
  background: #FF8040 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: #FF8040 !important;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #FF8040 !important;
  border-color: #FF8040 !important;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.login-box {
  width: 100%;
  max-width: 35rem;
}
.login-box__logo {
  text-align: center;
  padding: 0 0 4rem 0;
}
.login-box__logo img {
  max-height: 5rem;
  max-width: 100%;
}
.login-box__form {
  background: #fff;
  border-radius: 0.5rem;
  padding: 2.5rem;
  border: 0.1rem solid #eee;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.06);
}
.login-box__form .form-info {
  padding: 2rem 0 0 0;
}
.login-box__form .forgot-pass-link {
  font-size: 1.3rem;
  color: #000;
  font-weight: 500;
  line-height: 1.2;
  transition: 0.3s;
}
.login-box__form .forgot-pass-link:hover {
  color: #FF8040;
}

/*# sourceMappingURL=main.css.map */
