.dark {
    background: #252423;    
    .header {
        background: #201f1e;
        &__logo, &__toggle {
            background: #201f1e;
        }
    }
    .header__controls li ul {
        background: #333;
        border: 1px solid #333;
    }
    .header__controls li ul li a {
        color: #fff;
    }
    .sidebar {
        background: #3b3a39;
    }
    .user-info {
        &__name {
            color: #fff;
        }
        &__role {
            color: #bbb;
        }
    }
    .search-form__input {
        border-color:#bbb;
    }
    .navigation li.open > a {
        background: #474747;
        color: #fff;
    }
    .navigation li a {
        color: #bbb;
    }
    .navigation li a:before {
        filter: brightness(0) invert(1);
    }
    .subnavigation li a.selected {
        color: #fff;
        font-weight: 700;
    }
    .subnavigation li a:hover {
        color: #fff;
    }
    .subnavigation li a.selected:before {
        background-color: #fff;
    }
    .subnavigation li a:before {
        background-color: #bbb;
    }
    .section {
        background: #323130;
        &--transparent {
            background: transparent;
        }
        &__title {
            color: #fff;
        }
    }
    .section__progress {
        background: #252423;
    }
    .section-table {
        color: #fff;
        tr {
            td {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    .section-table thead tr td, .section-table thead tr th {
        color: #fff;
    }
    .section-tabs .tab-link:hover {
        color: #fff;
    }
    .section-tabs .tab-link.active {
        color: #fff;
    }
    .section-tabs .tab-link {
        color: #bbb;
        img {
            filter: brightness(0) invert(1);
        }
    }
    .section-tabs .tab-link:before {
        background: #fff;
    }
    .btn-filter {
        color: #bbb;
    }
    .form-group {
        border: 0.2rem solid #5d5d5d;
    }
    .form-group__caption {
        color: #fff;
    }
    .form-field {
        color: #fff;
    }
    .form-field__input, .form-field__select, .form-field__text {
        border: 0.1rem solid #fff;
        background: transparent;
        color: #fff;
    }
    .form-field .select2-container--default .select2-selection--multiple {
        background: transparent;
        color: #000;
    }
    .form-group__table {
        color: #fff;
        a {
            color: #fff;
            img {
                filter: brightness(0) invert(1);
            }
        }
    }
    @media (min-width: 768px){
        .form-field.date-field:after {
            filter: brightness(0) invert(1);
        }
    }

    .form-field__list-control a {
        color: #fff;
        img {
            filter: brightness(0) invert(1);
        }
    }

    .form-field.with-suffix .form-field__suffix {
        img {
            filter: brightness(0) invert(1);
        }
    }

    .form-group__toggle {
        color: #fff;
        span:after {
            filter: brightness(0) invert(1);
        }
    }

    .form-group__info {
        color: #fff;
    }

    .form-field-tabs__item label {
        color: #fff;
        img {
            filter: brightness(0) invert(1);
        }
    }

    .section-wizard .wizard-link {
        color: #fff;
    }

    .section-wizard .wizard-link__icon {
        background: #323130;
    }

    .section-wizard .wizard-link.locked .wizard-link__icon:after {
        filter: brightness(0) invert(1);
    }

}

